# Ignore compiled Python files and caches
*.pyc
_pycache_/

# Ignore environment-specific files
new_env/
*.env         
*.vscode      
.idea/        
.DS_Store     
Thumbs.db     

# Ignore Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/  

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ignore logs and databases
*.log          
*.sqlite       
*.db           

# Ignore package manager files for dependencies
node_modules/ 
*.egg-info/    

# Ignore OS-specific files
Desktop.ini    
ehthumbs.db    

# Ignore test artifacts
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log
